*/x64
*/Debug
*/Release
/Debug
/Release
*.sln
*.vcxproj
*.filters
*.user
/.vs
/test
*/tmp
*/packages
*/err.txt
*/log.txt
*/dbconfig.cof
*/obj
*/*.csproj
*/bin
/packages
*/*.snk
*/problem
*/node_modules
**/js/src-min/
**/js/bootstrap*
**/js/knockout*
**/js/jquery*
**/css/bootstrap*